/*
Theme Name: Twenty Twelve Bits
Theme URI: https://bitbucket.org/bgrolleman/bit-s
Author: Bas Grolleman 
Description: Child Theme for Bit-s - Bob van Diepen
Version: 1.0
Template: twentytwelve
*/

@import url("../twentytwelve/style.css");
.entry-content img, .comment-content img, .widget img, img.header-image, .author-avatar img, img.wp-post-image {
  border-radius: 0;
  box-shadow: none;
}
